@use "../mixins/articles";
@use "../mixins/texts";

@use "../variables/fonts";

@use "../extends/extends-articles.scss";
@use "../extends/animations";
@use "../extends/texts-extends";
@use "../extends/layout";

/* TODO:
    - Also the code could be concise, DRY principle!
     */

#pinned {
    @extend .common-grid;
}

@media screen and (min-width: 800px) {
    #pinned {
        gap: 0.8em;
        max-width: 80%;
        grid-template-rows: 10rem 10rem;
        grid-template-columns: 38% 28% 28%;
        grid-template-areas: 
            "item1 item2 item3"
            "item1 item4 item5";
    }
}

@media screen and (max-width: 799px) {
    #pinned {
        gap: 0.5em;
        max-width: 90%;
        grid-template-rows: 7em 7em 7em 7em;
        grid-template-columns: 50% 45%;
        grid-template-areas: 
            "item1 item2"
            "item1 item3"
            "item1 item4"
            "item1 item5";
    }
}

.pinned__item {
    overflow: hidden;
    border-radius: 10px;
    position: relative;
    transition: 0.5s
}

.heading-box {
    position: absolute;
    padding: 0 15px;
    bottom: 20px;
}

p {
    @extend .main-text;
}

h3 {
    @extend .h3-text;
}

.pinned__item:hover {
    @extend .article-raise;
}

@for $i from 1 through 5 {
    .pinned__item:nth-child(#{$i}){
        @include articles.grid-area(item+#{$i})
    }

    .pinned__item:nth-child(#{$i}) .pinned__item__div{
        @include articles.article-box("../src/images/atlantic_nami.jpg");
        @extend .common-articles
    }
}


#second-section {
    margin: 3em auto 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2em;
    max-width: 70%;
}

.second-section__item {
    flex: 2 1 30vw;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
}


.second-section__item__div {
    @include articles.article-box("../src/images/dustenbrook.jpg");   
    @extend .common-articles;
    transition: 0.5s;;
}

.second-section__item__div:hover {
    @extend .article-zoom;
}