@use "../mixins/articles";
@use "../mixins/texts";

@use "../variables/fonts";
@use "../variables/colors";
@use "../variables/dimensions";

@use "../common-properties/articles-common.scss";
@use "../common-properties/animations";
@use "../common-properties/texts-common";
@use "../common-properties/layout";
@use "../common-properties/buttons";


#motto {
    position: fixed;
    @extend .main-text;
    margin: auto, 0;
    transform: rotate(-90deg) translate(-160%, -5em); 
}

#pinned {
    @extend .common-grid;

    .pinned__item {
        @extend .common-article;

        @for $i from 1 through 5 {
            &:nth-child(#{$i}){
                @include articles.grid-area(item+#{$i});
            }
        
            &:nth-child(#{$i}) .pinned__item__background{
                @include articles.article-box("../src/images/sunrise#{$i}.jpg", $i);
                @extend .common-background;
                position: absolute;
            }
        }

        &:hover {
            @extend .article-raise;
        }

        .pinned__item__tag {
            position: absolute;
            top: 1.5rem;
            left: 2rem;
            display: inline-block;
            background-color: colors.$text-color;
            font-weight: bolder;
            font-size: 9px;
            text-decoration: none;
            color: colors.$background;
            line-height: 1;
            width: fit-content;
            padding: 4px 7px;
            border-radius: dimensions.$border-radius;
            text-transform: uppercase;
        }

        .heading-box {
            h3 {
                @extend .h3-text;
            }

            p {
                @extend .main-text;
            }

            &:hover {
                cursor: pointer;
            }
        }
    }
}

#second-section {
    margin: 3em auto 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2em;
    max-width: 70%;


    .second-section__item {
        flex: 2 1 30vw;
        @extend .common-article;

        @for $i from 1 through 3 {
            &:nth-child(#{$i}) .second-section__item__background {
                @include articles.article-box("../src/images/dustenbrook#{$i}.jpg", $i);   
                @extend .common-background;
                transition: 0.5s;
            }
        }

        &:hover { 
            .second-section__item__background {
                @extend .article-zoom;
            }
            .heading-box {
                span {
                    visibility: visible;
                }
            }
        }

        .heading-box {
            .tag {
                @extend .tags-common;
            }

            h3 {
                @extend .h3-text;

                span {
                    visibility: hidden;
                }
            }

            p {
                @extend .main-text;
            }

            &:hover {
                cursor: pointer;
            }
        }
        
    }
}

#older-posts {
    @extend .common-grid;
    margin-top: 3em;

    .older-posts__item {
        flex: 2 1 30vw;
        @extend .common-article;

        &:hover { 
            .older-posts__item__background {
                @extend .article-zoom;
            }
            .heading-box {
                span {
                    visibility: visible;
                }
            }
        }

        @for $i from 1 through 5 {
            &:nth-child(#{$i}) {
                @include articles.grid-area(item+#{$i})
            }
        
            &:nth-child(#{$i}) .older-posts__item__background {
                @include articles.article-box("../src/images/old_post#{$i}.jpg", $i);   
                @extend .common-background;
                transition: 0.5s;
            }
        }
        .heading-box {
            .tag {
                @extend .tags-common;
            }

            h3 {
                @extend .h3-text;

                span {
                    visibility: hidden;
                }
            }

            p {
                @extend .main-text;
            }

            &:hover {
                cursor: pointer;
            }
        }
    }
}

@media screen and (min-width: 800px) {
    #pinned {
        gap: 0.8em;
        max-width: 85%;
        grid-template-rows: 11rem 11rem;
        grid-template-columns: 1.2fr 1fr 1fr;
        grid-template-areas: 
            "item1 item2 item3"
            "item1 item4 item5";
    }

    #older-posts {
        gap: 0.8em;
        max-width: 70%;
        grid-template-rows: 13rem 13rem 4rem;
        grid-template-columns: 18%;
        grid-template-areas: 
            "item1 item1 item1 item2 item2 item2"
            "item3 item3 item4 item4 item5 item5"
            "button button button button button button";
    }
}

@media screen and (max-width: 799px) {
    #pinned {
        gap: 0.5em;
        max-width: 90%;
        grid-template-rows: 7em 7em 7em 7em;
        grid-template-columns: 45% 45%;
        grid-template-areas: 
            "item1 item2"
            "item1 item3"
            "item1 item4"
            "item1 item5";
    }

    #older-posts {
        gap: 0.5em;
        max-width: 90%;
        grid-template-rows: 7em 7em 7em 7em 7em;
        grid-template-columns: 80%;
        grid-template-areas: 
            "item1"
            "item2"
            "item3"
            "item4"
            "item5";
    }

    p {
        display: none;
    }
}


#load-more-btn {
    @extend .wide-button;
    @extend .common-button;
}

#load-more-btn:hover {
    @extend .button-hover;
}
