@use "../variables/colors";

.article-raise {
    transform: translate(0, -5px);
}

.article-zoom {
    transform: scale(1.2);
}

.article-no-zoom {
    transform: scale(1.2);
}

.button-hover {
    background-color: colors.$button-hover-color;
}