@use "../variables/colors";
@use "../variables/fonts";
@use "../variables/dimensions";

@use "../common-properties/texts-common";

.wide-button {
    grid-area: button;
    width: 100%;
}

.normal-button {
    width: 16rem;
}

.common-button {
    display: block;
    border: none;
    border-radius: dimensions.$border-radius;
    padding: 15px 50px;
    background-color: colors.$button-color;
    transition: dimensions.$transition-time;
    @extend .main-text;
}