@use "../variables/fonts";
@use "../variables/colors";

.main-text {
    font-family: fonts.$main-text;
    font-weight: 900;
    font-size: fonts.$p-size;
    color: colors.$text-color;
}

.h3-text {
    font-family: fonts.$heading-font;
    font-weight: 900;
    font-size: fonts.$h3-size;
    color: colors.$text-color;
}

.h2-text {
    font-family: fonts.$heading-font;
    font-weight: 900;
    color: colors.$text-color;
    font-size: fonts.$h2-size;
}

