$background: rgb(35, 40, 59);
$button-color: rgb(52, 55, 68);
$text-color: #ebebeb;
$button-hover-color: #ff8c00;
$overlay-colors: (rgba(0,0,0,0) rgba(0,0,0,0), #2f00ff #472eec, #f800c2 #f800f3, #ffc744 #ff9e44, #25531a #0e5008);