#header {
  display: flex;
  margin: 1em 2em;
  justify-content: space-between;
  align-items: center;
}

#header__heading {
  font-family: Corben, serif;
  font-weight: 900;
  font-size: 36px;
  color: white;
}

#header__navbar {
  display: flex;
}

.header__navbar__link {
  padding: 0 1em;
  text-decoration: none;
  font-family: Mulish, sans-serif;
  font-weight: 800;
  font-size: 16px;
  color: white;
}

.common-articles, .pinned__item:nth-child(1) .pinned__item__background, .pinned__item:nth-child(2) .pinned__item__background, .pinned__item:nth-child(3) .pinned__item__background, .pinned__item:nth-child(4) .pinned__item__background, .pinned__item:nth-child(5) .pinned__item__background, .second-section__item:nth-child(1) .second-section__item__background, .second-section__item:nth-child(2) .second-section__item__background, .second-section__item:nth-child(3) .second-section__item__background, .older-posts__item:nth-child(1) .older-posts__item__background, .older-posts__item:nth-child(2) .older-posts__item__background, .older-posts__item:nth-child(3) .older-posts__item__background, .older-posts__item:nth-child(4) .older-posts__item__background, .older-posts__item:nth-child(5) .older-posts__item__background {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.article-raise, .pinned__item:hover {
  transform: translate(0, -5px);
}

.article-zoom, .second-section__item:hover .second-section__item__background,
.older-posts__item:hover .older-posts__item__background {
  transform: scale(1.2);
}

.article-no-zoom {
  transform: scale(1.2);
}

.main-text, p, .wide-button, #load-more-btn {
  font-family: Mulish, sans-serif;
  font-weight: 900;
  font-size: 16px;
  color: #e7e4da;
}

.h3-text, h3 {
  font-family: Corben, serif;
  font-weight: 900;
  font-size: 24px;
  color: #e7e4da;
}

.common-grid, #pinned, #older-posts {
  display: grid;
  margin: 0 auto;
}

.wide-button, #load-more-btn {
  display: block;
  grid-area: button;
  margin: 0 auto;
  border: none;
  border-radius: 10px;
  padding: 15px 50px;
  background-color: rgb(52, 55, 68);
  width: 100%;
}

/* TODO:
    - Also the code could be concise, DRY principle!
     */
#older-posts {
  margin-top: 3em;
}

@media screen and (min-width: 800px) {
  #pinned {
    gap: 0.8em;
    max-width: 80%;
    grid-template-rows: 10rem 10rem;
    grid-template-columns: 38% 28% 28%;
    grid-template-areas: "item1 item2 item3" "item1 item4 item5";
  }
  #older-posts {
    gap: 0.8em;
    max-width: 70%;
    grid-template-rows: 13rem 13rem 4rem;
    grid-template-columns: 18%;
    grid-template-areas: "item1 item1 item1 item2 item2 item2" "item3 item3 item4 item4 item5 item5" "button button button button button button";
  }
}
@media screen and (max-width: 799px) {
  #pinned {
    gap: 0.5em;
    max-width: 90%;
    grid-template-rows: 7em 7em 7em 7em;
    grid-template-columns: 45% 45%;
    grid-template-areas: "item1 item2" "item1 item3" "item1 item4" "item1 item5";
  }
  #older-posts {
    gap: 0.5em;
    max-width: 90%;
    grid-template-rows: 7em 7em 7em 7em 7em;
    grid-template-columns: 80%;
    grid-template-areas: "item1" "item2" "item3" "item4" "item5";
  }
  p {
    display: none;
  }
}
.pinned__item {
  overflow: hidden;
  border-radius: 10px;
  position: relative;
  transition: 0.5s;
}

.heading-box {
  position: absolute;
  padding: 0 15px;
  bottom: 20px;
}

.pinned__item:nth-child(1) {
  grid-area: item1;
}

.pinned__item:nth-child(1) .pinned__item__background {
  background-image: url("../src/images/sunrise1.jpg");
}

.pinned__item:nth-child(2) {
  grid-area: item2;
}

.pinned__item:nth-child(2) .pinned__item__background {
  background-image: url("../src/images/sunrise2.jpg");
}

.pinned__item:nth-child(3) {
  grid-area: item3;
}

.pinned__item:nth-child(3) .pinned__item__background {
  background-image: url("../src/images/sunrise3.jpg");
}

.pinned__item:nth-child(4) {
  grid-area: item4;
}

.pinned__item:nth-child(4) .pinned__item__background {
  background-image: url("../src/images/sunrise4.jpg");
}

.pinned__item:nth-child(5) {
  grid-area: item5;
}

.pinned__item:nth-child(5) .pinned__item__background {
  background-image: url("../src/images/sunrise5.jpg");
}

.second-section__item:nth-child(1) .second-section__item__background {
  background-image: url("../src/images/dustenbrook1.jpg");
  transition: 0.5s;
}

.second-section__item:nth-child(2) .second-section__item__background {
  background-image: url("../src/images/dustenbrook2.jpg");
  transition: 0.5s;
}

.second-section__item:nth-child(3) .second-section__item__background {
  background-image: url("../src/images/dustenbrook3.jpg");
  transition: 0.5s;
}

#second-section {
  margin: 3em auto 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2em;
  max-width: 70%;
}

.second-section__item, .older-posts__item {
  flex: 2 1 30vw;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
}

.older-posts__item:nth-child(1) {
  grid-area: item1;
}

.older-posts__item:nth-child(1) .older-posts__item__background {
  background-image: url("../src/images/old_post1.jpg");
  transition: 0.5s;
}

.older-posts__item:nth-child(2) {
  grid-area: item2;
}

.older-posts__item:nth-child(2) .older-posts__item__background {
  background-image: url("../src/images/old_post2.jpg");
  transition: 0.5s;
}

.older-posts__item:nth-child(3) {
  grid-area: item3;
}

.older-posts__item:nth-child(3) .older-posts__item__background {
  background-image: url("../src/images/old_post3.jpg");
  transition: 0.5s;
}

.older-posts__item:nth-child(4) {
  grid-area: item4;
}

.older-posts__item:nth-child(4) .older-posts__item__background {
  background-image: url("../src/images/old_post4.jpg");
  transition: 0.5s;
}

.older-posts__item:nth-child(5) {
  grid-area: item5;
}

.older-posts__item:nth-child(5) .older-posts__item__background {
  background-image: url("../src/images/old_post5.jpg");
  transition: 0.5s;
}

#load-more-btn {
  transition: 0.5s;
}

#load-more-btn:hover {
  background-color: darkorange;
}

* {
  margin: 0;
}

body {
  background-color: rgb(35, 40, 59);
}

/*# sourceMappingURL=styles.css.map */
