@mixin grid-large{
    grid-template-rows: 10rem 10rem;
    grid-template-areas: 
    "item1 item2 item3"
    "item1 item4 item5";
}

@mixin grid-medium{
    grid-template-areas:
    "item1 item2 item3"
    "item1 item4 item5";
}

@mixin grid-small{
    grid-template-rows: 7em 7em 7em 7em;
    grid-template-areas: 
    "item1 item2"
    "item1 item3"
    "item1 item4"
    "item1 item5";
}